body {
  background-color: #212529;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* Navigation Bar */
.container-fluid {
  padding: 1% 2% 0 2%;
  text-align: left;
}

.appName {
  font-size: 2rem;
  font-weight: bolder;
}
.navItemsList {
  margin-left: auto;
  font-size: 1.5rem;
  font-weight: bold;
}

.newArray {
  margin-right: 1rem;
}

.navDropdown {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Bars */
.bars {
  margin-top: 10%;
}
.bar {
  height: 0px;
  width: 2%;
  background-color: white;
  margin-right: 1px;
  margin-left: 1px;
  display: inline-block;
}
